<!-- <ng-container [formGroup]="customForm">
    <mat-form-field appearance="fill" class="w-100">
        <mat-label>{{ label }}</mat-label>
        <mat-select (selectionChange)="onSelectionChange($event)">
        <mat-option *ngFor="let option of options" [value]="option.value">
            {{ option.viewValue }}
        </mat-option>
        </mat-select>
    </mat-form-field>
</ng-container> -->
<mat-form-field appearance="fill">
    <mat-label>Favorite food</mat-label>
    <mat-select>
      <mat-option *ngFor="let food of options" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
</mat-form-field>